@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Rancho&family=Bebas+Neue:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Ubuntu",sans-serif;
    
   
}
html
{
    scroll-behavior: smooth;
}
span
{
    font-size: 25px;
    color: #a80404;
}
.max-width
{
    max-width: 1000px;
    padding: 0  20px;
    margin: auto;
}
.navabar
{
    z-index: 999;
    background: #CFD11A;
    position: fixed;
    padding: 15px 0 ;
    width: 100%;
    font-family: "Ubuntu",sans-serif;
    transition: all 0.3s ease;

}
.navabar.sticky
{
    padding: 15px 0;
    background: #181d12b0;

}
.navabar .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.navabar .log a
{
    color: rgb(17, 17, 17);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 2em;
   letter-spacing: -0.05em;
    
}
.navabar.sticky a {
    color: #a80404;
}

.navabar .menu li
{
    list-style: none;
    display: inline-block;
}
.navabar .menu li a
{
    color:#000;
    padding: 0 5px;
    font-size: 1.4em;
    font-weight: 500;
    margin-left: 20px;
    transform: color 0.3s ease;
}
.navabar .menu li a:hover
{
    
    color: rgb(255, 255, 255);



}
.navabar.sticky .menu li a
{
    color: rgb(255, 255, 255);
}

.navabar.sticky .menu li a:hover
{
    color: #a80404;
    
} 
.menu-btn
{
    color: #000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navabar.sticky .menu-btn
{
    color: #a80404;
    
}
.text {
    font-weight: 100;
    font-size: 28px;
    color: #FAFAFA;
  }
  
  .dud {
    color: #757575;
  }

.home
{
    display: flex;
    background:#101418;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    color: rgb(255, 255, 255);
    min-height: 500px;
    font-family: "ubuntu", sans-serif;
    object-fit: cover;
    opacity: 1;

}
.home video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.home .max-width
{
    margin: auto 0 auto 40px;
    z-index: 10;
}
.home .home-content .text-1
{
    font-size: 2rem;
}
.home .home-content .text-2
{
    font-size: 4em;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 
{
    font-size: 3em;
    margin: 5px 0;
}
.home .home-content .text-3 span
{
    font-size: 3rem;
    color: #a80404;
    font-weight: 500;
}
.home .home-content a
{
    display: inline-block;
    background: #CFD11A;
    text-decoration: none;
    color: #111519;
    font-size: 1.2rem;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #CFD11A;
    transition: all 0.3s ease;
}
.home.sticky .home-content a
{
    background: #a80404;
    border: 2px solid #a80404;
    color: rgb(255, 255, 255);
}
.home .home-content a:hover
{
    color: rgb(255, 255, 255);
    background: none;
}


/*--about section*/
section
{
    padding: 100px 0;
}
.about ,.service ,.skill ,.team ,.contact,footer
{
    font-family: 'poppins',sans-serif;
}
.about .about-content,
.service .service-content,
.skill .skill-content,
.contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}   

.about
{
    
    background: rgb(255, 255, 255);

}
section .tittle
{
    position: relative;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "ubuntu", sans-serif;
    font-size: 40px;
}
section .tittle::before
{
    content: "";
    position: absolute;
   bottom: 0px;
   left: 50%;
    width: 180px;
    height:3px;
    background: #111;
    transform: translateX(-50%);
}
section .tittle::after
{
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding: 3px;
    font-size: 20px;
    color: #a80404;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}
.about .tittle::after
{
  content:"who i am " ;   
}
.about .about-content .left
{
    width: 45%;
}
.about .about-content .left img
{
    left: 0;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right
{
    width: 55%;
}
.about .about-content .right .text
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p
{
text-align: justify;
}
.about .about-content .right a
{
    display: inline-block;
    background: #111519;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid #111;
    border-radius: 6px;
   
    transition: all 0.3s ease;
}
.about .about-content .right a:hover
{
    color: #111519;
    
    background: none;
}
/* Service -- section--*/
.service,.team
{
    background: #111519;
    color: rgb(255, 255, 255);
    
}
.service .tittle::before,
.team .tittle::before
{
    background-color: rgb(255, 255, 255);
}
.service .tittle::after,
.team .tittle::after
{
    content: "what i provide";
    background: #111519;
    color: #a80404;
    font-weight: 300;
    font-family: "ubuntu",sans-serif;
}
.service .service-content .card
{
    width: calc(33% - 20px);
    background: #181d12f1;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.service .service-content .card i
{
    font-size: 50px;
    color: #a80404;
    transition: color 0.3s ease;
}
.service .service-content .card:hover i
{
    color: rgb(255, 255, 255);
}
.service .service-content .card .text
{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0 ;
}
.service .service-content p
{
    font-size: 15px;
    font-weight: 400;
}
.service .service-content .card:hover
{
    background: #a80404;
}
.service .service-content .box
{
    transition: all 0.3s ease;
}
.service .service-content .card:hover .box
{
    transform: scale(1.05);
}

/*skills  section styling*/
.skill
{
    background: rgb(255, 255, 255);
}
.skill .tittle::after
{
    content: "what i know";
}
.skill .skill-content .column
{
    width: calc(50% - 30px);
}
.skill .skill-content .left p
{
    text-align: justify;
}
.skill .skill-content .left a
{
    display: inline-block;
    background: #111519;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border: 2px solid #111;
    border-radius: 6px;
    transition: all 0.3s ease;   
}
.skill .skill-content .left a:hover
{
    background: none;
    color: #000;
}
.skill .skill-content .left .text
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10;
}
.skill .skill-content .right .bar
{
    margin-bottom: 15px;

}
.skill .skill-content .right .info
{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skill .skill-content .right span
{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.skill .skill-content .right .line
{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;

}
.skill .skill-content .right .line::before
{
 content: "";
 position: absolute;
 height: 100%;
 left: 0;
 top: 0;
 background: #a80404;

}
.skill-content .right .html::before
{
    width: 90%;
}
.skill-content .right .css::before
{
    width: 60%;
}
.skill-content .right .javascript::before
{
    width: 80%;
}
.skill-content .right .php::before
{
    width: 50%;
}
.skill-content .right .mysql::before
{
    width: 70%;
}
/*team section--------------*/
.team .tittle::after
{
    content: "famous places";

}
.team .carousel .card
{
    background: #181d12f1;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.team .carousel .card:hover
{
    background: #a80404;
}
.team .carousel .card .box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}
.team .carousel .card:hover .box
{
    transform: scale(1.05);
}

.team .carousel .card .text
{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0 ;
}

.team .carousel .card img
{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #a80404;

}
.team .carousel .card:hover img
{
    border-color: rgb(255, 255, 255);
    transition: all 0.3s ease;

}

.owl-dots
{
    text-align: center;
    margin-top: 20px;
}
.owl-dot
{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #a80404!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #a80404!important;
    
}
/* contact --------------- section */

.contact 
{
    background: rgb(255, 255, 255);
}
.contact .tittle::after
{
    content: "get in touch";
}
.contact .contact-content .column
{
    width: calc(50% - 30px);
}
.contact .contact-content .text
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p
{
    text-align: justify;
}
.contact .contact-content .left .icons
{
    margin: 10px 0;
}
.contact .contact-content .row
{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info
{
    margin-left: 30px;
}
.contact .contact-content .row i
{
   color: #a80404;
   font-size: 20px;
}
.contact .contact-content  .info .head
{
    font-weight: 600;
}
.contact .contact-content  .info  .subtiittle
{
    color: #333;
}
.contact  .right form .fields
{
    display: flex;
}
.contact  .right form .field,
.contact  .right form .fields .field
{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact  .right form .textarea
{
    height: 80px;
    width: 100%;
}
.contact  .right form  .name
{
    margin-right: 10px;
}
.contact  .right form  .mail
{
    margin-left: 10px;
}
.contact  .right form .field input,
.contact  .right form .textarea textarea

{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family:'poppins',sans-serif ;
}
.contact  .right form .textarea textarea
{
    padding-top: 10px;
    resize: none;
}
.contact  .right form .button
{
    height: 47px;
    width: 170px;
}
.contact  .right form .button button
{
    width: 100%;
    height: 100%;
    border: 2px solid #111519 ;
    background: #111519;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

}
.contact  .right form .button button:hover
{
    color: #000;
    background: none;
}

/* footer ----------------------section */

footer{
    background:#111519 ;
    padding: 15px 18px;
    text-align: center;
    
}
footer span
{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
footer span a{
    color:#a80404;
    font-size: 15px;
    text-decoration: none;
}
footer span a:hover{

    text-decoration: underline;

}









/* content -- section--*/
@media (max-width:1300px)
{
    .home .max-width
    {
        margin-left: 0px;
    }
}
@media (max-width:1104px)
{
    .about .about-content .left img
    {
        height: 350px;
        width: 350px;
       
    }
}
@media(max-width:890px){
    .max-width
    {
        max-width: 800px;
        
    }
    .about .about-content .column
    {
        width: 100%;
    }
    
    .about .about-content .left
    {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content  .right
    {
        flex: 100%;
    }
    .service .service-content .card
    {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width:720px){
    .home .home-content a
{
    font-size: 1.2rem;
    padding: 10px 30px;
}
    .max-width
{
    padding: 0  50px;

}
.menu-btn
{
    display: block;
    z-index: 999;
}
.menu-btn i.active::before
{
 content: "\f00d";   
 color: rgb(255, 255, 255);
}
.navabar .menu
{
    position: fixed;
    height: 100%;
    width: 70%;
    right: -100%;
    top: 0;
    
    background: #181d12f1;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
    
}
.navabar .menu.active
{
    right: 0;
}
.navabar .menu li
 {
     display: block;
   
     
 }
 .navabar .menu li a 
 {
    display: inline-block;
    margin: 20px 0;
    color: rgb(255, 255, 255);
    padding: 12px 36px;
    margin-top: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 1.3em;
    transition: all .3s ease;
}
.navabar .menu li a:hover
{
    color: #a80404;
}

.home .home-content .text-1
{
    font-size: 2rem;
    margin-top: 420px;
}
.home video{
   margin-top: -80px;
    transform: scale(.9);

}
.home .home-content .text-2
{
    font-size: 3.5em;
   
}
.home .home-content .text-3 
{  
    font-size: 2rem;
    
}
.home .home-content .text-3 span
{
    font-size: 2rem;
    
   
}
.home .home-content a{
    margin-top: -170px;
}

.service .service-content .card,
.team .carousel .card
{
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.contact .contact-content .column
{
    width: 100%;
    margin-bottom: 35px;
}
}
@media (max-width:620px){
    .max-width
    {
        padding: 0  23px;
    
    }
.home .home-content .text-1
{
    font-size: 1.5rem;
}

    .home .home-content .text-2
{
    font-size: 2.6em;
}
    .home .home-content .text-3 
{  
    font-size: 1.5rem;
    
}
.home .home-content .text-3 span
{
    font-size: 1.5rem;
}
.service .service-content .card,
.skill .skill-content .column,
.team .carousel .card
{
    
    
    width: 70%;
    margin: 40px;
}
}

