*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(204, 143, 72, 0.233),rgba(0, 0, 0, 0.205)),url(pic4.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
h1
{
    font-size:40px;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;   
}
hr
{
    width: 50%;
    margin: 30px auto;
    border: .2px solid;

}
h6 
{
   
    font-size: 9px;
    letter-spacing: 7px;
    font-family: 'Poppins', sans-serif; 
    color: rgba(243, 156, 106, 0.808);
}
.social
{
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    display: flex;

}
.social a
{
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;}
.social a .fab
{
    font-size: 30px;
    line-height: 50px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
    
}
.social a::after
{
    content: '';
    width: 80px;
    height: 80px;
    top: -90px;
    left: 0;
    background:linear-gradient(-45deg,#900C3F,#FFC300);
    position: absolute;
    transition: 0.5s;
}
.social a:hover::after
{
    top: 0;

}
.social a:hover .fab
{
    color: #fff;
}
.social a:hover
{
    transform: translateY(-10px);
}


h7
{
    font-size:10px;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;   
}
